

    .wrapper {
  
      margin: 0 auto;
      max-width: 760px;
    
    }
    .intro {
      background: url(../images/EIND11.jpg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 550px;
      width: 1280px;
    }
    
    .intro h1 {
      position: absolute;
      top: 35%;
      left: 52%;
      transform: translate3d(-50%, -50%, 0);
      text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
      font-size: 7em;
      color: #FFF;
      font-family: 'Titillium Web', sans-serif;
      text-align: left;
    
    }
    
    .intro h2 {
      position: absolute;
      top: 45%;
      left: 34%;
      transform: translate3d(-50%, -50%, 0);
      text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
      font-size: 5em;
      color: #FFF;
      font-family: 'Titillium Web', sans-serif;
      text-align: left;
    
    }
    
    
    .intro p {
    
      position: absolute;
      top: 32%;
      left: 53%;
      padding: 1.2%;
      line-height: 20px;
      transform: translate3d(-50%, -50%, 0);
      font-size: 18px;
      color: #FFF;
      font-family: 'Quicksand', sans-serif;
      text-align: left;
    
    }
  
  
